@import './_donation/donation';
@import './_projects/projects';
@import './container';


a{
    text-decoration: none;
    // color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
}