@import './_donation/donation';
@import './_projects/projects';
@import './container';


a{
    text-decoration: none;
    // color: black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
button{
    cursor: pointer;
}
.fayoz{
    display: flex;
    padding: 40px 60px;
    border: 5px red dotted;
    align-items: center;
    justify-content: center;
    gap: 50px;
    .donach{
        padding: 20px 40px;
        font-size: 40px;
        background-color: #edf7f2ff;
        border: 15px;

        
    }
    .proch{
        padding: 20px 40px;
        font-size: 40px;
        background-color: #edf7f2ff;
        border: 15px;

    }
}