
.usage{
    padding-top: 96px;
    padding-bottom: 96px;
    div{
        display: flex;
        align-items:start;
        justify-content: space-between;
        h2{
            color: var(--b, #1D2130);
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; 
        }
        p{
            color: var(--Secondary-text, #525560);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; 
        }
    }
}